go 1.25.0

use (
	./agent
	./cli
	./pkg/model
	./services/autoscaler
	./services/backup
	./services/deployment
	./services/monitoring
	./services/orchestrator
	./services/registry
	./services/scheduler
)
