{
	email {$ACME_EMAIL}
}

cloud.nexastudio.dev {
	encode zstd gzip

	header {
		Content-Security-Policy "default-src 'self'; img-src 'self' data:; script-src 'self'; style-src 'self'; connect-src 'self'; frame-ancestors 'none'; base-uri 'self'; form-action 'self'"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
		Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=()"
		Cross-Origin-Opener-Policy "same-origin"
		-Server
	}

	handle {
		reverse_proxy orchestrator:8080
	}

	log {
		output stdout
		format console
	}
}

(public_security) {
	header {
		Content-Security-Policy "default-src 'self'; img-src 'self' data:; script-src 'self'; style-src 'self'; connect-src 'self'; frame-ancestors 'none'; base-uri 'self'; form-action 'self'"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
		Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=()"
		Cross-Origin-Opener-Policy "same-origin"
		-Server
	}
}

status.nexastudio.dev {
	encode zstd gzip
	import public_security
	reverse_proxy monitoring:8082
	log {
		output stdout
		format console
	}
}

changelog.nexastudio.dev {
	encode zstd gzip
	import public_security
	reverse_proxy monitoring:8082
	log {
		output stdout
		format console
	}
}

www.nexastudio.dev {
	redir https://nexastudio.dev{uri} permanent
}

nexastudio.dev {
	encode zstd gzip
	import public_security
	reverse_proxy nexastudio_nginx:80
	log {
		output stdout
		format console
	}
}
